@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);

$font_weight_normal: 400;
$font_weight_bold: 700;
$font_weight_light: 200;

$dark: #010b4c;
$dark_lighter: #1b2564;
$dark_darker: #000527;

$light: #dfefc9;
$light_lighter: #eff7e4;
$light_darker: #cfdfb5;

$medium: #357a89;
$medium_lighter: #498d9b;
$medium_darker: #246d7d;

$page_max_width: 960px;

html {
	font-size: 18px;
	color: $dark;
	background-color: $light_lighter;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: $font_weight_normal;
}

a {
	color: $medium;
	text-decoration: none;

	&:hover {
		color: $medium_lighter;
	}

	&:active {
		color: $medium_darker;
	}
}

nav[role="navigation"] {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		font-size: 1.25rem;

		&.home {
			margin-right: auto;

			a {
				text-transform: uppercase;
			}
		}

		li {
			flex: 1;

			a {
				display: inline-block;
				padding: 1rem;
				color: $light_lighter;
				text-decoration: none;
			}
		}
	}
}

header[role="banner"] {
	width: 100%;
	height: 100vh;
	background-color: $brand_dark;
	background-image: url(../img/bokeh.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4rem;
	text-align: center;

	img {
		width: auto;
		max-height: 50vh;
	}

	p {
		color: $light_lighter;
		max-width: $page_max_width;
		margin: 2rem auto 0 auto;
		font-size: 1.5rem;
		text-shadow: 0 0 0.25rem $dark_darker;

		a {
			color: $light;
		}
	}
}