/*
 * Fonts
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);

/*
 * Colours & Variables
 */

$font_weight_normal: 400;
$font_weight_bold: 700;
$font_weight_light: 200;

$dark: #010b4c;
$dark_lighter: #1b2564;
$dark_darker: #000527;

$light: #dfefc9;
$light_lighter: #fafdf7;
$light_darker: #cfdfb5;

$medium: #357a89;
$medium_lighter: #498d9b;
$medium_darker: #226776;

$page_max_width: 960px;

/*
 * Basics
 */

html {
	font-size: 18px;
	color: $dark;
	background-color: $light_lighter;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: $font_weight_normal;
}

/*
 * Links
 */

a:not([role="button"]) {
	color: $medium;
	text-decoration: none;
	transition: color 100ms ease;

	display: inline-block;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	transition-property: color;
	transition-duration: 200ms;

	&:hover {
		color: $light_lighter;
	}

	&:active {
		color: $light_darker;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $medium_lighter;
		transform: scaleX(0);
		transform-origin: 0 50%;
		transition-property: transform;
		transition-duration: 200ms;
		transition-timing-function: ease-out;
	}

	&:hover:before, &:focus:before, &:active:before {
		transform: scaleX(1);
	}
}

/*
 * Buttons
 */

button, [role="button"] {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border: none;
	background-color: $medium;
	color: $light_lighter;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 0 $medium_darker;
	transition: all ease 100ms;

	&:hover {
		color: $light;
		box-shadow: none;
		margin-top: 0.25rem;
		margin-bottom: -0.25rem;
	}
}

/*
 * Headers
 */

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: $font_weight_light;
	color: $medium;
	margin: 0 0 1rem 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;

	span {
		display: block;

		em {
			font-style: normal;
			display: inline-block;
			padding: 0.25rem 0;
			background-color: $dark_lighter;
			color: $light_lighter;
			font-size: 1rem;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 2rem;
				top: 0;
				left: -2rem;
				background-image: linear-gradient(135deg, transparent 0%, transparent 50%, $dark_lighter 51%, $dark_lighter 100%)
			}

			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 2rem;
				top: 0;
				right: -2rem;
				background-image: linear-gradient(135deg, $dark_lighter 0%, $dark_lighter 50%, transparent 51%, transparent 100%)
			}
		}
	}

	a {
		padding: 0.25rem 0.5rem;
		margin: 0 -0.5rem;
	}
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	margin: 0 0 1rem 0;
}

/*
 * Navigation
 */

nav[role="navigation"] {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	transition: all 200ms ease;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		font-size: 1.25rem;

		&.home {
			margin-right: auto;

			a {
				text-transform: uppercase;
			}
		}

		li {
			flex: 1 1 10rem;

			a {
				display: inline-block;
				padding: 1rem;
				width: 100%;
				color: $light_lighter;
				text-decoration: none;

				&:hover {
					color: $light;
				}
			}
		}
	}

	&.alt {
		background-color: $light_lighter;
		box-shadow: 0 0 1rem 0 color($medium_darker a(50%));

		a {
			color: $medium;

			&:hover {
				color: $light_lighter;
			}
		}
	}
}

/*
 * Hero Banner
 */

header[role="banner"] {
	width: 100%;
	height: 100vh;
	background-color: $dark;
	background-image: url(../img/bokeh.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 2rem 3rem 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;

	img {
		flex: 1;
		width: auto;
		max-height: 50vh;
	}

	p {
		color: $light_lighter;
		max-width: $page_max_width;
		margin: 2rem auto 0 auto;
		font-size: 1.5rem;
		text-shadow: 0 0 3rem $dark_darker;

		a {
			color: $light;
		}
	}
}

/*
 * Main, Sections, and Articles
 */

main[role="main"] {
	section {
		& > div {
			max-width: $page_max_width;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			padding: 3rem;

			article {
				flex: 1 1 50%;
				padding: 0 3rem;

				img {
					max-width: 100%;
					border: 0.25rem solid $light_lighter;
				}
			}

			& > p {
				flex: 1 1 100%;
				text-align: center;
				padding-top: 1rem;
			}
		}

		&:nth-of-type(even) {
			background-color: $light;
		}
	}
}

/*
 * Footer
 */

footer {
	background-color: $medium;
	color: $light;
	font-size: 0.8rem;

	& > div {
		max-width: $page_max_width;
		margin: 0 auto;
		display: flex;
		align-items: center;

		& > * {
			flex: 1;
			padding: 1rem;
		}
	}

	a:not([role="button"]) {
		color: $light_lighter;
	}

	span {
		display: block;
	}

	address {
		font-style: normal;
		text-align: right;
	}

	figure {
		padding: 3rem;
		text-align: center;

		img {
			max-width: 65%;
		}
	}
}

/*
 * Miscellaneous
 */

figure {
	margin: 0;
	padding: 0;
	text-align: center;

	img {
		max-width: 100%;
	}
}

/*
 * Media Queries
 */

@media (max-width: 700px) {
	header[role="banner"] {
		p {
			font-size: 1rem;
		}
	}
}

@media (max-width: 600px) {
	html {
		font-size: 16px;
	}

	header[role="banner"] {
		p {
			font-size: 1rem;
		}
	}

	main[role="main"] {
		section {
			& > div {
				display: block;
			}
		}
	}

	footer {
		& > div {
			display: block;
			text-align: center;

			figure {
				padding: 0;

				img {
					max-width: 100%;
					max-height: 8rem;
				}
			}

			address {
				text-align: center;
			}
		}
	}
}

/* --- Height Based --- */
@media (max-height: 400px) {
	header[role="banner"] {
		p {
			font-size: 1rem;
		}
	}
}
/* -------------------- */

@media (max-width: 520px) {
	nav[role="navigation"] {
		display: block;
		text-align: center;
		background-color: $light_lighter;
		box-shadow: 0 0 1rem 0 color($medium_darker a(50%));

		ul {
			li {
				a {
					color: $medium;

					&:hover {
						color: $light_lighter;
					}
				}
			}
		}

		ul:nth-of-type(1) {
			li a {
				margin-bottom: -0.5rem;
			}
		}

		ul:nth-of-type(2) {
			li a {
				margin-top: -0.5rem;
			}
		}
	}

	main[role="main"] {
		section {
			& > div {
				padding: 1rem;
			}
		}
	}
}

@media (max-width: 400px) {
	nav[role="navigation"] {
		ul {
			li {
				a {
					font-size: 1rem;
					padding: 0.5rem;
				}
			}
		}

		ul:nth-of-type(1) {
			li a {
				margin-bottom: -0.25rem;
			}
		}

		ul:nth-of-type(2) {
			li a {
				margin-top: -0.25rem;
			}
		}
	}

	main[role="main"] {
		section {
			& > div {
				article {
					padding: 0 1.5rem;
				}
			}
		}
	}
}




