/*
 * Fonts
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);

/*
 * Colours & Variables
 */

$font_weight_normal: 400;
$font_weight_bold: 700;
$font_weight_light: 200;

$dark: #010b4c;
$dark_lighter: #1b2564;
$dark_darker: #000527;

$light: #dfefc9;
$light_lighter: #fafdf7;
$light_darker: #cfdfb5;

$medium: #357a89;
$medium_lighter: #498d9b;
$medium_darker: #226776;

$page_max_width: 960px;
$hero_img: url(../img/bokeh.jpg);

/*
 * Basics
 */

html {
	font-size: 18px;
	color: $dark;
	background-color: $light_lighter;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: $font_weight_normal;
}

/*
 * Links
 */

a:not([role="button"]) {
	color: $medium;
	text-decoration: none;
	transition: color 100ms ease;

	display: inline-block;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	transition-property: color;
	transition-duration: 200ms;

	&:hover {
		color: $light_lighter;
	}

	&:active {
		color: $light_darker;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $medium_lighter;
		transform: scaleX(0);
		transform-origin: 0 50%;
		transition-property: transform;
		transition-duration: 200ms;
		transition-timing-function: ease-out;
	}

	&:hover:before, &:focus:before, &:active:before {
		transform: scaleX(1);
	}
}

/*
 * Buttons
 */

button, [role="button"] {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border: none;
	background-color: $medium;
	color: $light_lighter;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 0 $medium_darker;
	transition: all ease 100ms;

	&:hover {
		color: $light;
		box-shadow: none;
		margin-top: 0.25rem;
		margin-bottom: -0.25rem;
	}
}

/*
 * Headers
 */

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: $font_weight_light;
	color: $medium_darker;
	margin: 0 0 1rem 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;

	span {
		display: block;

		em {
			font-style: normal;
			display: inline-block;
			padding: 0.25rem 0;
			background-color: $dark_lighter;
			color: $light_lighter;
			font-size: 1rem;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 2rem;
				top: 0;
				left: -2rem;
				background-image: linear-gradient(135deg, transparent 0%, transparent 50%, $dark_lighter 51%, $dark_lighter 100%)
			}

			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 2rem;
				top: 0;
				right: -2rem;
				background-image: linear-gradient(135deg, $dark_lighter 0%, $dark_lighter 50%, transparent 51%, transparent 100%)
			}
		}
	}

	a {
		padding: 0.25rem 0.5rem;
		margin: 0 -0.5rem;
	}
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	margin: 0 0 1rem 0;
}

/*
 * Navigation
 */

nav#top-nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	transition: all 200ms ease;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		font-size: 1.25rem;

		&.home {
			margin-right: auto;

			a {
				text-transform: uppercase;
			}
		}

		li {
			flex: 1 1 10rem;

			a {
				display: inline-block;
				padding: 1rem;
				width: 100%;
				color: $light_lighter;
				text-decoration: none;

				&:hover {
					color: $light;
				}
			}
		}
	}

	&.alt {
		background-color: $light_lighter;
		box-shadow: 0 0 1rem 0 color($medium_darker a(50%));

		a {
			color: $medium;

			&:hover {
				color: $light_lighter;
			}
		}
	}
}

/* Pagination */
nav.pagination {
	text-align: center;
	width: 100%;
	padding: 2rem;
	display: flex;
	align-items: center;

	& > * {
		flex: 1;
	}
}

/*
 * Hero Banner
 */

header.homepage {
	width: 100%;
	height: 100vh;
	background-color: $dark;
	background-image: $hero_img;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 2rem 3rem 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;

	img {
		flex: 1;
		width: auto;
		max-height: 50vh;
	}

	p {
		color: $light_lighter;
		max-width: $page_max_width;
		margin: 2rem auto 0 auto;
		font-size: 1.5rem;
		text-shadow: 0 0 3rem $dark_darker;

		a {
			color: $light;
		}
	}
}

header.blog {
	width: 100%;
	height: 8rem;
	background-color: $dark;
	background-image: $hero_img;
	background-repeat: no-repeat;
	background-size: cover;
}

header.post, header.page {
	width: 100%;
	min-height: 8rem;
	background-color: $dark;
	background-image: $hero_img;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 2rem 5rem 2rem;

	h1 {
		max-width: $page_max_width;
		color: $light;
		margin: 0 auto;
		text-shadow: 0 0 3rem $dark_darker;
	}
}

header.page {
	padding-bottom: 3rem;
}

.meta {
	text-align: center;
	margin-top: -2rem;

	address {
		font-style: normal;

		img {
			max-height: 8rem;
			border-radius: 50%;
			box-shadow: 0 0 0 1rem $light_lighter;
		}

		span {
			display: block;
		}

		& > a:before {
			transform: scaleX(1);
			transform-origin: 50% 54%;
			border-radius: 50%;
		}

		& > a:hover:before, & > a:focus:before, & > a:active:before {
			transform: scale(1.35, 1.35);
		}
	}

	.tags {
		list-style: none;
		margin: 1rem 0 0.5rem 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 0.5rem 0.75rem;
			background-color: $light_darker;
			border-radius: 0.25rem;
			font-size: 0.9rem;
			margin-bottom: 0.5rem;

			&:before {
				content: '#';
			}

			&:not(:last-of-type) {
				margin-right: 0.5rem;
			}
		}
	}
}

/*
 * Main, Sections, and Articles
 */

main[role="main"] {
	section {
		& > div {
			max-width: $page_max_width;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			padding: 3rem;

			article {
				flex: 1 1 50%;
				padding: 0 3rem;

				img {
					max-width: 100%;
					width: 100%;
					border: 0.25rem solid $light_lighter;
				}
			}

			& > p.more {
				flex: 1 1 100%;
				text-align: center;
				padding-top: 1rem;
			}
		}

		&:nth-of-type(even) {
			background-color: $light;
		}
	}
}

/*
 * Footer
 */

footer {
	background-color: $medium;
	color: $light;
	font-size: 0.8rem;

	& > div {
		max-width: $page_max_width;
		margin: 0 auto;
		display: flex;
		align-items: center;

		& > * {
			flex: 1;
			padding: 1rem;
		}
	}

	a:not([role="button"]) {
		color: $light_lighter;
	}

	span {
		display: block;
	}

	address {
		font-style: normal;
		text-align: right;
	}

	figure {
		padding: 3rem;
		text-align: center;

		img {
			max-width: 10rem;
		}
	}

	img.social {
		max-height: 2rem;
	}
}

/*
 * People Page
 */

.collapsible {
	section {
		padding: 2rem;

		h2 {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: flex-end;

			img {
				border-radius: 50%;
				margin-right: 1rem;
				max-height: 6rem;
			}
		}

		p:first-of-type {
			font-size: 1.25rem;
		}

		&:nth-of-type(even) {
			border-radius: 1rem;
		}
	}
}

/*
 * Process Page
 */

.process {
	width: 100%;
	margin-top: 2rem;

	.big-blob-container {
		position: relative;
		z-index: 1;

		.big-blob {
			background-color: $light;
			background-repeat: no-repeat;
			background-position: center 2rem;
			background-size: 16rem 8.5rem;
			border-radius: 50%;
			text-align: center;
			padding: 12rem 8rem 3rem 8rem;

			ul {
				list-style: none;
				margin: 0 0 1rem 0;
				padding: 0;

				li {
					display: inline-block;

					&:not(:last-of-type) {
						margin-right: 0.5rem;

						&:after {
							content: 'â—';
							margin-left: 0.5rem;
							color: $light_darker;
						}
					}
				}
			}

			p:not(:first-of-type) {
				display: none;
			}

			&.blob-discovery {
				background-image: url(../img/process/p_discovery.svg);
			}

			&.blob-development {
				background-image: url(../img/process/p_development.svg);
			}

			&.blob-delivery {
				background-image: url(../img/process/p_delivery.svg);
			}

			&[data-subprocess="personas"] {
				background-image: url(../img/process/p_personas.svg);
			}

			&[data-subprocess="user-stories"] {
				background-image: url(../img/process/p_user-stories.svg);
			}

			&[data-subprocess="prototyping"] {
				background-image: url(../img/process/p_prototyping.svg);
			}

			&[data-subprocess="prioritisation"] {
				background-image: url(../img/process/p_prioritisation.svg);
			}

			&[data-subprocess="coding"] {
				background-image: url(../img/process/p_coding.svg);
			}

			&[data-subprocess="testing"] {
				background-image: url(../img/process/p_testing.svg);
			}

			&[data-subprocess="visual-design"] {
				background-image: url(../img/process/p_visual-design.svg);
			}

			&[data-subprocess="launch"] {
				background-image: url(../img/process/p_launch.svg);
			}

			&[data-subprocess="measurement"] {
				background-image: url(../img/process/p_measurement.svg);
			}

			&[data-subprocess="improvement"] {
				background-image: url(../img/process/p_improvement.svg);
			}
		}
	}

	.divider {
		background-color: $light;
		width: 8rem;
		height: 4rem;
		margin: -4px auto;
		position: relative;

		&:before, &:after {
			content: ' ';
			position: absolute;
			width: 4rem;
			height: 4rem;
			background-color: $light_lighter;
			border-radius: 50%;
		}

		&:before {
			left: -2rem;
		}

		&:after {
			right: -2rem;
		}
	}
}

/*
 * Miscellaneous
 */

figure {
	margin: 0;
	padding: 0;
	text-align: center;

	img {
		max-width: 100%;
	}
}

pre {
	max-width: 100%;
	overflow-x: auto;
	font-size: 0.75rem;

	&[class*="language-"] {
		margin: 0 0 1rem 0;
	}
}

code {
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
}

.noflex {
	display: block !important;
}

/*
 * Browser Hacks
 */

.ie9 img[src*=".svg"] {
	width: 100% !important;
	height: 100% !important;
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src*=".svg"] {
		width: 100% !important;
		height: 100% !important;
	}
}

/*
 * Media Queries
 */

@media (max-width: 700px) {
	header.homepage {
		p {
			font-size: 1rem;
		}
	}

	.process {
		.divider {
			margin: -8px auto;
		}
	}
}

@media (max-width: 600px) {
	html {
		font-size: 16px;
	}

	header.homepage {
		p {
			font-size: 1rem;
		}
	}

	main[role="main"] {
		section {
			& > div {
				display: block;
			}
		}
	}

	footer {
		& > div {
			display: block;
			text-align: center;

			figure {
				padding: 0;

				img {
					max-width: 100%;
					max-height: 8rem;
				}
			}

			address {
				text-align: center;
			}
		}
	}

	.process {
		.big-blob-container {
			.big-blob {
				background-position: center 4rem;
				background-size: 16rem 6rem;
				padding: 12rem 3rem 3rem 3rem;
				border-radius: 25%;
			}
		}
	}
}

/* --- Height Based --- */
@media (max-height: 400px) {
	header.homepage {
		p {
			font-size: 1rem;
		}
	}
}
/* -------------------- */

@media (max-width: 520px) {
	nav#top-nav {
		display: block;
		text-align: center;
		background-color: $light_lighter;
		box-shadow: 0 0 1rem 0 color($medium_darker a(50%));

		ul {
			li {
				a {
					color: $medium;

					&:hover {
						color: $light_lighter;
					}
				}
			}
		}

		ul:nth-of-type(1) {
			li a {
				margin-bottom: -0.5rem;
			}
		}

		ul:nth-of-type(2) {
			li a {
				margin-top: -0.5rem;
			}
		}
	}

	header.post, header.page {
		padding-top: 8rem;
	}

	main[role="main"] {
		section {
			& > div {
				padding: 1rem;
			}
		}
	}
}

@media (max-width: 400px) {
	nav#top-nav {
		ul {
			li {
				a {
					font-size: 1rem;
					padding: 0.5rem;
				}
			}
		}

		ul:nth-of-type(1) {
			li a {
				margin-bottom: -0.25rem;
			}
		}

		ul:nth-of-type(2) {
			li a {
				margin-top: -0.25rem;
			}
		}
	}

	nav.pagination {
		padding: 1rem;
		display: block;

		& > * {
			display: block;
		}

		.page-number {
			padding: 1rem;
		}
	}

	header.post, header.page {
		padding-top: 6rem;

		h1 {
			font-size: 2rem;
		}
	}

	.meta {
		address {
			img {
				max-height: 6rem;
			}
		}
	}

	main[role="main"] {
		section {
			& > div {
				article {
					padding: 0 1.5rem;
				}
			}
		}
	}

	.collapsible {
		section {
			padding: 1rem;
		}
	}
}




