@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);

html {
	font-size: 18px;
	color: #010b4c;
	background-color: #eff7e4;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

a {
	color: #357a89;
	text-decoration: none;
}

a:hover {
	color: #498d9b;
}

a:active {
	color: #246d7d;
}

nav[role="navigation"] {
	position: fixed;
	top: 0;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav[role="navigation"] ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.25rem;
}

nav[role="navigation"] ul.home {
	margin-right: auto;
}

nav[role="navigation"] ul.home a {
	text-transform: uppercase;
}

nav[role="navigation"] ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav[role="navigation"] ul li a {
	display: inline-block;
	padding: 1rem;
	color: #eff7e4;
	text-decoration: none;
}

header[role="banner"] {
	width: 100%;
	height: 100vh;
	background-color: $brand_dark;
	background-image: url(../img/bokeh.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4rem;
	text-align: center;
}

header[role="banner"] img {
	width: auto;
	max-height: 50vh;
}

header[role="banner"] p {
	color: #eff7e4;
	max-width: 960px;
	margin: 2rem auto 0 auto;
	font-size: 1.5rem;
	text-shadow: 0 0 0.25rem #000527;
}

header[role="banner"] p a {
	color: #dfefc9;
}